<app-menu></app-menu>
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <ion-header class="ion-text-center">
        <img src="assets/icons/logo_devskill@2x.png" />
      </ion-header>
    </ion-title>
    <div slot="end" class="ion-padding-end">
      <app-user-component></app-user-component>
    </div>
  </ion-toolbar>
</ion-header>


<ion-content>
  <form [formGroup]="fumettoForm">
    <ion-button class="ion-padding-vertical">Torna Indietro</ion-button>
    <div class=" ion-padding-vertical">
      <div>
        <h1>Crea Fumetto</h1>
      </div>

      <ion-grid>
        <ion-row size="2" class="padding">
          <ion-col>
            <ion-label>Nome</ion-label>
            <ion-item>
              <ion-input placeholder="NOME" formControlName="name"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col >
            <ion-label>Descrizione</ion-label>
            <ion-item>
              <ion-input placeholder="DESCRIZIONE" formControlName="description"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row size="10" class="padding">
          <ion-col>
            <ion-label>Tipo</ion-label>
            <ion-item>
              <ion-select formControlName="type" okText="OK" cancel-text="Indietro" value="FUMETTO">
                <ion-select-option value="FUMETTO">FUMETTO</ion-select-option>
                <ion-select-option value="MANGA">MANGA</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-label>Autore</ion-label>
            <ion-item>
              
              <ion-select formControlName="author" multiple="true" okText="OK" cancel-text="Indietro">
               
                  <ion-select-option *ngFor="let item of listaAutori.list;" value={{item.id}}> {{item.name}} {{item.surname}}</ion-select-option>
           
              </ion-select>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>

          </ion-col>
          <ion-col>
            <ion-label >Categoria</ion-label>
          <ion-item >
            <ion-select formControlName="category" multiple="true" okText="OK" cancel-text="Indietro">
          
                <ion-select-option *ngFor="let item of listaCategorie.list;"  value={{item.id}}> {{item.name}} </ion-select-option>
         
            </ion-select>
          </ion-item>

          </ion-col>
          <ion-col>

          </ion-col>
          
      
        </ion-row>
   
        <!--
            <ion-row>
              <ion-item>
                <ion-input placeholder="FOTO" formControlName="photo"></ion-input>  
              </ion-item>
            </ion-row>
            -->
        <ion-row class="ion-float-end">
          <app-bottone testo="SALVA" class="ion-float-end" [disabilitato]="!fumettoForm.valid"
            (click)="aggiungiFumetto()"></app-bottone>
        </ion-row>
      </ion-grid>
    </div>
  </form>
</ion-content>
<app-footer></app-footer>