<app-menu></app-menu>
<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>
      <ion-header class="ion-text-center"> <img src="assets/icons/logo_devskill@2x.png"></ion-header>
    </ion-title>
    <div slot="end">
      <app-user-component></app-user-component>
    </div>
    
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-user-info nome="{{utente.name}}" cognome="{{utente.surname}}" email="{{utente.email}}"></app-user-info>
</ion-content>
<app-footer></app-footer>