<ion-icon  name="person-outline" id="alignment-button" size="large"></ion-icon>
<ion-popover trigger="alignment-button" side="top" alignment="end">
  <ng-template>
    <ion-content>
      <ion-grid>
        <ion-header>
        
          <p>nome cognome</p>
               <p>mail</p>
       
      </ion-header> 
        <ion-row>
          <ion-col><ion-item button>Modifica Dati</ion-item></ion-col>
        </ion-row>
        <ion-row>
          <ion-col><ion-item>Logout</ion-item></ion-col>
        </ion-row>
      </ion-grid>
    </ion-content>
  </ng-template>
  <ion-content>
    <ion-list>
      <ion-item>
        nome cognome email
      </ion-item>
      <ion-item>
        modifica dati
      </ion-item>
      <ion-item  button (click)="logout()">
        Logout
      </ion-item>
    </ion-list>
  </ion-content>