.padding{
    padding-left: 6rem;
    padding-right: 15rem;
}
.riga{
    border-top: 0.2rem solid;
    border-color: rgb(112, 90, 233)
}
ion-button{
    --background: rgb(8, 30, 68);
}



.colore{
    background-color: rgb(8, 30, 68);
    color:white;
    height: 3rem;
    font-size: 1.2rem;
    padding: 0.5rem;
    
}
.padding{
    padding-top: 4rem;
}
.riga2{
    border-style: solid;
    border-color: rgb(112, 90, 233)
}